name: sicape_mobile
description: A new Flutter project for SICAPE Mobile App.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  
  # Networking
  http: ^0.13.5
  
  # Local Storage
  shared_preferences: ^2.0.15
  
  # Date Formatting
  intl: ^0.17.0
  
  # Icons
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/logo.png
